<!DOCTYPE html>
<html>
  <head>
    <%block name='head'>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title>开发框架|蓝鲸智云社区版</title>
        <meta name="description" content=""/>
        <meta name="author" content=""/>
        <link rel="shortcut icon" href="${STATIC_URL}favicon.ico" type="image/x-icon">
        <!-- bootstrap css -->
		    <link href="${STATIC_URL}assets/bootstrap-3.3.4/css/bootstrap.min.css" rel="stylesheet">
		    <!-- 禁止bootstrap 响应式 （app根据自身需求启用或禁止bootstrap响应式） -->
		    <link href="${STATIC_URL}assets/bootstrap-3.3.4/css/bootstrap_noresponsive.css" rel="stylesheet">
		    <!--自定义css-->
		    <link href="${STATIC_URL}css/bk.css?v=${STATIC_VERSION}" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="${STATIC_URL}css/index.css?v=${STATIC_VERSION}">

      <!--Basic Styles-->
      <link href="${STATIC_URL}assets/css/bootstrap.min.css" rel="stylesheet"/>
      <link id="bootstrap-rtl-link" href="" rel="stylesheet"/>
      <link href="${STATIC_URL}assets/css/font-awesome.min.css" rel="stylesheet"/>

      <link href="${STATIC_URL}assets/css/weather-icons.min.css" rel="stylesheet"/>

      <!--Page Related styles-->
      <link href="${STATIC_URL}assets/css/dataTables.bootstrap.css" rel="stylesheet"/>
      <!--Beyond styles-->
      <link id="beyond-link" href="${STATIC_URL}assets/css/beyond.min.css" rel="stylesheet" type="text/css"/>
      <link href="${STATIC_URL}assets/css/demo.min.css" rel="stylesheet"/>
      <link href="${STATIC_URL}assets/css/typicons.min.css" rel="stylesheet"/>
      <link href="${STATIC_URL}assets/css/animate.min.css" rel="stylesheet"/>
      <link id="skin-link" href="" rel="stylesheet" type="text/css"/>

      <link rel="stylesheet" type="text/css" href="${STATIC_URL}ref/base.css"/>
      <script src="${STATIC_URL}assets/js/jquery-2.0.3.min.js"></script>
      <script src="${STATIC_URL}assets/js/bootstrap.min.js"></script>
      <!--Skin Script: Place this script in head to load scripts for skins and rtl support-->
      <script src="${STATIC_URL}assets/js/skins.min.js"></script>

      <link href="${STATIC_URL}assets/bootstraptable/bootstrap-table.css" rel="stylesheet"/>
      <script src="${STATIC_URL}assets/bootstraptable/bootstrap-table.js"></script>

      <link href="${STATIC_URL}assets/treegrid/css/jquery.treegrid.min.css" rel="stylesheet"/>
      <script src="${STATIC_URL}assets/treegrid/js/jquery.treegrid.min.js"></script>
      <script src="${STATIC_URL}assets/bootstraptable/bootstrap-table-zh-CN.js"></script>

      <!--Page Related Scripts-->
      <script src="${STATIC_URL}assets/js/fuelux/treeview/tree-custom.min.js"></script>
      <script src="${STATIC_URL}assets/js/fuelux/treeview/treeview-init.js"></script>

      <script src="${STATIC_URL}ref/jtopo-0.4.8-min.js"></script>

      <link rel="stylesheet" href="${STATIC_URL}ref/ztree/css/zTreeStyle/zTreeStyle.css" type="text/css">
      <script type="text/javascript" src="${STATIC_URL}ref/ztree/js/jquery.ztree.core.js"></script>
      <script type="text/javascript" src="${STATIC_URL}ref/ztree/js/jquery.ztree.excheck.js"></script>

      <script type="text/javascript" src="${STATIC_URL}ref/js/laydate/laydate.js"></script>

      <script type="text/javascript" src="${STATIC_URL}ref/spacetree/js/jit.js"></script>
      <script type="text/javascript" src="${STATIC_URL}ref/spacetree/js/excanvas.js"></script>

      <script src="${STATIC_URL}frame_api.js"></script>


      <!-- 这个是全局配置，如果需要在js中使用app_id和site_url,则这个javascript片段一定要保留 -->
        <script type="text/javascript">
	    	  var app_id = "${APP_ID}";
			    var site_url = "${SITE_URL}";	  // app的url前缀,在ajax调用的时候，应该加上该前缀
			    var static_url = "${STATIC_URL}"; // 静态资源前缀
              var iwf = {}
	      </script>
      <script type="text/javascript">

          $(document).ready(function (e) {

//			$.ajaxSetup({
//				timeout: 30000,
//				cache:false,
//				crossDomain:true,
//				xhrFields: {
//					withCredentials: true
//				},
//				error:function (xhr, status, e) {
//					if(status=='error'){
//						//window.location.href = "./";
//					}
//				},
//				complete:function (xhr, status) {
//					//linePro.css('width',  "100%")
//
//					var sessionStatus = xhr.getResponseHeader('sessionstatus');
//					if(sessionStatus == 'timeout'||xhr.status==518) {
//						var top = getTopWinow();
//						var yes = confirm('由于您长时间没有操作, session已过期, 请重新登录.');
//						if (yes) {
//							top.location.href = './logout';
//							//document.location.href = "index.html";
//						}
//					}
//				},
//				beforeSend:function (xhr) {
//					//xhr.withCredentials = true;
//					xhr.setRequestHeader("isajax", "isAjax-json");
//					//xhr.setRequestHeader("isAjax", "isAjax-json");
//
//				}
//			});


              /**
               * 在页面中任何嵌套层次的窗口中获取顶层窗口
               * @return 当前页面的顶层窗口对象
               */
              function getTopWinow() {
                  var p = window;
                  while (p != p.parent) {
                      p = p.parent;
                  }
                  return p;
              }

              var user_obj = {
                  username: "${request.user.username}",
                  is_superuser: "${request.user.is_superuser}",
                  id: "${request.user.id}",
                  phone: "${request.user.phone}"
              };

              var url = "${SITE_URL}";

              function queryData(url, ps, callback) {
                  $.ajax({
                      url: url,
                      type: "GET",
                      dataType: "text",//1:xml 2:html 3:script 4:json 5:jsonp 6:text
                      contentType: "application/x-www-form-urlencoded; charset=utf-8",
                      data: ps,
                      success: function (js) {
                          callback(js);
                      },
                      error: function (x, e) {
                          alert("调用服务" + url + "失败！");
                      }
                  });
              }

              $.getJSON(url + 'user/getInfo.data', {username: user_obj.username}, function (json) {
                  //alert(json.user_name);

                  json.userInfo.uRule = [];
                  var isLoad = false;
                  $('#welcome').html('<i class="menu-icon fa fa-user" style="margin-right:5px;"></i>' + json.userInfo.fullname);
                  $('#userinfo_sys').bind('click', function (e) {
                      var data = {icon: 'icon-sitemap', color: 'icon-red', 'a': 'profile', 'b': 'profile'};
                      data.params = 0;
                      var me = window.framework;
                      me.execCommand('go', data);
                  });

                  $('#modifypws_sys').bind('click', function (e) {
                      var data = {icon: 'icon-sitemap', color: 'icon-red', 'a': 'userinfo', 'b': 'userinfo'};
                      var me = window.framework;
                      me.execCommand('go', data);
                  });

                  $('.navbar-brand').html('<span style="color:#23427e;line-height: 40px;margin-left: 80px;">梅州局任务监控平台</span>');

                  json.sid = IWF.sid;
                  json.token = json.token;
                  json.rootPath = url;
                  window.framework = new FrameWork(document, json);

                  //$.getJSON(url+'menu/list.data',{index:1,size:10,json:'中国'},function (json) {
                  var menus = json.menus;
                  var tree = $.fn.Tranc({'text': 'name', 'id': 'id', 'pid': 'pid', 'root': -1, 'data': menus});

                  function treeMenu(a) {
                      this.tree = a || [];
                      this.groups = {};
                  };
                  treeMenu.prototype = {
                      init: function (pid) {
                          this.group();
                          return this.getDom(this.groups[pid]);
                      },
                      group: function () {
                          for (var i = 0; i < this.tree.length; i++) {
                              if (this.groups[this.tree[i].pId]) {
                                  this.groups[this.tree[i].pId].push(this.tree[i]);
                              } else {
                                  this.groups[this.tree[i].pId] = [];
                                  this.groups[this.tree[i].pId].push(this.tree[i]);
                              }
                          }
                      },
                      getDom: function (a) {
                          if (!a) {
                              return ''
                          }
                          var html = '\n<ul >\n';
                          for (var i = 0; i < a.length; i++) {
                              html += '<li><a href="#">' + a[i].name + '</a>';
                              html += this.getDom(this.groups[a[i].id]);
                              html += '</li>\n';
                          }
                          ;
                          html += '</ul>\n';
                          return html;
                      }
                  };
                  //var html=new treeMenu(menus).init(0);


                  function getDom(a) {
                      if (!a) {
                          return ''
                      }
                      a = utils.sort(a, 'sortIndex');
                      var html = '\n<ul class="submenu">\n';
                      for (var i = 0; i < a.length; i++) {
                          var item = a[i];
                          if (a[i].nodes.length > 0) {
                              if (a[i].pid == -1) {
                                  if ($.isEmptyObject(item.iconCls)) item.iconCls = 'fa fa-th';
                                  html += '<li><a href="javascript:void(0);" class="menu-dropdown"><i class="menu-icon ' + item.iconCls + '"></i><span class="menu-text">' + a[i].name + '</span><i class="menu-expand"></i></a>';
                              } else {
                                  html += '<li><a href="javascript:void(0);" key="' + a[i].menukey + '" class="menu-dropdown"><span class="menu-text">' + a[i].name + '</span><i class="menu-expand"></i></a>';
                              }
                          } else {
                              html += '<li><a href="javascript:void(0);" key="' + a[i].menukey + '" ><span class="menu-text">' + a[i].name + '</span></a>';

                          }
                          html += getDom(a[i].nodes);
                          html += '</li>\n';
                      }
                      ;
                      html += '</ul>\n';
                      return html;
                  }

                  var htmlUl = getDom(tree);
                  //var liEl=$(htmlUl).children().insertBefore($('#sysmgr_nav'));
                  var liEl = $(htmlUl).children().appendTo($('.sidebar-menu'));
                  liEl.find('a').bind('click', function (e) {
                      var menukey = $(this).attr('key');
                      if (!utils.isEmptyObject(menukey)) {
                          var data = {icon: 'icon-sitemap', color: 'icon-red', 'a': menukey, 'b': menukey};
                          var me = window.framework;
                          me.execCommand('go', data);
                      }
                  });
              });


              $('#LogoutSys').click(function () {
                  var tpl = '<h4>你确定要退出系统吗?</h4>';
                  $('body').Dialog({
                      title: '提示', tpl: tpl, load: function (e) {
                      }, click: function (e) {
                          if (e.data.ok) {
                              $.getJSON(url + 'wechat/sysLogout.data', null, function (json) {
                                  //json = utils.toJSON(json);
                                  if (json.success) {
                                      window.location.href = "./logout";
                                  }
                              });
                          }
                      }
                  });


              });

              $('#SetMsg').bind('click', function (e) {
                  var data = {icon: 'icon-sitemap', color: 'icon-red', 'a': 'SetMsg', 'b': 'SetMsg'};
                  var me = window.framework;
                  me.execCommand('go', data);
              });
              $('#testllx').bind('click', function (e) {
                  var data = {icon: 'icon-sitemap', color: 'icon-red', 'a': 'view', 'b': 'oracle'};
                  var me = window.framework;
                  me.execCommand('go', data);
              });
              $('#linkroad').bind('click', function (e) {
                  var data = {icon: 'icon-sitemap', color: 'icon-red', 'a': 'linkroad', 'b': 'linkroad'};
                  var me = window.framework;
                  me.execCommand('go', data);
              });
              $('#systemmgr').bind('click', function (e) {
                  var data = {icon: 'icon-sitemap', color: 'icon-red', 'a': 'systemmgr', 'b': 'systemmgr'};
                  var me = window.framework;
                  me.execCommand('go', data);
              });
              $('#usermgr').bind('click', function (e) {
                  var data = {icon: 'icon-sitemap', color: 'icon-red', 'a': 'usermgr', 'b': 'usermgr'};
                  var me = window.framework;
                  me.execCommand('go', data);
              });
              $('#deptuser').bind('click', function (e) {
                  var data = {icon: 'icon-sitemap', color: 'icon-red', 'a': 'deptuser', 'b': 'deptuser'};
                  var me = window.framework;
                  me.execCommand('go', data);
              });
              $('#deptmgr').bind('click', function (e) {
                  var data = {icon: 'icon-sitemap', color: 'icon-red', 'a': 'deptmgr', 'b': 'deptmgr'};
                  var me = window.framework;
                  me.execCommand('go', data);
              });
              $('#rulemgr').bind('click', function (e) {
                  var data = {icon: 'icon-sitemap', color: 'icon-red', 'a': 'rulemgr', 'b': 'rulemgr'};
                  var me = window.framework;
                  me.execCommand('go', data);
              });
              $('#rolemgr').bind('click', function (e) {
                  var data = {icon: 'icon-sitemap', color: 'icon-red', 'a': 'rolemgr', 'b': 'rolemgr'};
                  var me = window.framework;
                  me.execCommand('go', data);
              });
              $('#menumgr').bind('click', function (e) {
                  var data = {icon: 'icon-sitemap', color: 'icon-red', 'a': 'menumgr', 'b': 'menumgr'};
                  var me = window.framework;
                  me.execCommand('go', data);
              });
              $('#dictmgr').bind('click', function (e) {
                  var data = {icon: 'icon-sitemap', color: 'icon-red', 'a': 'dictmgr', 'b': 'dictmgr'};
                  var me = window.framework;
                  me.execCommand('go', data);
              });

              $('#sqlserver').bind('click', function (e) {
                  var data = {icon: 'icon-sitemap', color: 'icon-red', 'a': 'sqlserver', 'b': 'sqlserver'};
                  var me = window.framework;
                  me.execCommand('go', data);
              });
              $('#zhong').bind('click', function (e) {
                  var data = {icon: 'icon-sitemap', color: 'icon-red', 'a': 'zhong', 'b': 'zhong'};
                  var me = window.framework;
                  me.execCommand('go', data);
              });


          });
      </script>

  </%block>

  </head>

  <body>

  <div class="loading-container">
      <div class="loading-progress">
          <div class="rotator">
              <div class="rotator">
                  <div class="rotator colored">
                      <div class="rotator">
                          <div class="rotator colored">
                              <div class="rotator colored"></div>
                              <div class="rotator"></div>
                          </div>
                          <div class="rotator colored"></div>
                      </div>
                      <div class="rotator"></div>
                  </div>
                  <div class="rotator"></div>
              </div>
              <div class="rotator"></div>
          </div>
          <div class="rotator"></div>
      </div>
  </div>
  <!--  /Loading Container -->
  <!-- Navbar -->
  <div class="navbar">
      <div class="navbar-inner">
          <div class="navbar-container">
              <!-- Navbar Barnd -->
              <div class="navbar-header pull-left">

                  <a href="#" class="navbar-brand">
                      <small>

                          <img src="" alt=""/>

                      </small>
                  </a>
                  <div id="logo-area"></div>
              </div>
              <!-- /Navbar Barnd -->

              <!-- Sidebar Collapse -->
              <div class="sidebar-collapse" id="sidebar-collapse" style="left: 0px;">
                  <i class="collapse-icon fa fa-bars"></i>
              </div>
              <!-- /Sidebar Collapse -->
              <!-- Account Area and Settings --->
              <div class="navbar-header pull-right">
                  <div class="navbar-account">
                      <ul class="account-area">

                          <li>
                              <a class="login-area dropdown-toggle" data-toggle="dropdown">

                                  <section>
                                      <h2><span class="profile"><span id="welcome">David Stevenson</span></span></h2>
                                  </section>
                              </a>
                              <!--Login Area Dropdown-->
                              <ul class="pull-right dropdown-menu dropdown-arrow dropdown-login-area">
                                  <li class="text-align-center"><a href="javascript:void(0);" id="userinfo_sys">个人信息</a>
                                  </li>
                                  <li class="text-align-center"><a href="javascript:void(0);"
                                                                   id="modifypws_sys">修改密码</a></li>
                                  <!--<li class="email"><a>修改密码</a></li>-->
                                  <!--<li>-->
                                  <!--<div class="avatar-area">-->
                                  <!--<img src="assets/img/avatars/adam-jansen.jpg" class="avatar">-->
                                  <!--<span class="caption">Change Photo</span>-->
                                  <!--</div>-->
                                  <!--</li>-->
                                  <!--<li class="edit">-->
                                  <!--<a href="profile.html" class="pull-left">Profile</a>-->
                                  <!--<a href="#" class="pull-right">Setting</a>-->
                                  <!--</li>-->
                                  <!--<li class="theme-area">-->
                                  <!--<ul class="colorpicker" id="skin-changer">-->
                                  <!--<li><a class="colorpick-btn" href="#" style="background-color:#5DB2FF;" rel="assets/css/skins/blue.min.css"></a></li>-->
                                  <!--<li><a class="colorpick-btn" href="#" style="background-color:#2dc3e8;" rel="assets/css/skins/azure.min.css"></a></li>-->
                                  <!--<li><a class="colorpick-btn" href="#" style="background-color:#03B3B2;" rel="assets/css/skins/teal.min.css"></a></li>-->
                                  <!--<li><a class="colorpick-btn" href="#" style="background-color:#53a93f;" rel="assets/css/skins/green.min.css"></a></li>-->
                                  <!--<li><a class="colorpick-btn" href="#" style="background-color:#FF8F32;" rel="assets/css/skins/orange.min.css"></a></li>-->
                                  <!--<li><a class="colorpick-btn" href="#" style="background-color:#cc324b;" rel="assets/css/skins/pink.min.css"></a></li>-->
                                  <!--<li><a class="colorpick-btn" href="#" style="background-color:#AC193D;" rel="assets/css/skins/darkred.min.css"></a></li>-->
                                  <!--<li><a class="colorpick-btn" href="#" style="background-color:#8C0095;" rel="assets/css/skins/purple.min.css"></a></li>-->
                                  <!--<li><a class="colorpick-btn" href="#" style="background-color:#0072C6;" rel="assets/css/skins/darkblue.min.css"></a></li>-->
                                  <!--<li><a class="colorpick-btn" href="#" style="background-color:#585858;" rel="assets/css/skins/gray.min.css"></a></li>-->
                                  <!--<li><a class="colorpick-btn" href="#" style="background-color:#474544;" rel="assets/css/skins/black.min.css"></a></li>-->
                                  <!--<li><a class="colorpick-btn" href="#" style="background-color:#001940;" rel="assets/css/skins/deepblue.min.css"></a></li>-->
                                  <!--</ul>-->
                                  <!--</li>-->
                                  <!--<li class="dropdown-footer">-->
                                  <!--<a href="javascript:void(0);" id="LogoutSys">-->
                                  <!--注销-->
                                  <!--</a>-->
                                  <!--</li>-->
                              </ul>
                              <!--/Login Area Dropdown-->
                          </li>
                          <li>
                              <a href="javascript:void(0);" style="line-height: 40px;color:white;text-align: center;"
                                 id="LogoutSys">
                                  <i class="menu-icon fa fa-sign-out" style="margin-right: 5px;"></i>注销
                              </a>
                          </li>
                          <!-- Settings -->
                      </ul>
                      <!--<div class="setting">-->
                      <!--<a id="btn-setting" title="Setting" href="#">-->
                      <!--<i class="icon glyphicon glyphicon-cog"></i>-->
                      <!--</a>-->
                      <!--</div>-->
                      <div class="setting-container">
                          <label>
                              <input type="checkbox" id="checkbox_fixednavbar">
                              <span class="text">Fixed Navbar</span>
                          </label>
                          <label>
                              <input type="checkbox" id="checkbox_fixedsidebar">
                              <span class="text">Fixed SideBar</span>
                          </label>
                          <label>
                              <input type="checkbox" id="checkbox_fixedbreadcrumbs">
                              <span class="text">Fixed BreadCrumbs</span>
                          </label>
                          <label>
                              <input type="checkbox" id="checkbox_fixedheader">
                              <span class="text">Fixed Header</span>
                          </label>
                      </div>
                      <!-- Settings -->
                  </div>
              </div>
              <!-- /Account Area and Settings -->

          </div>
      </div>
  </div>
  <!-- /Navbar -->
  <!-- Main Container -->


      <!-- 尾部声明 start -->
    <!-- jquery js  -->

  ${self.body()}
    <!-- 兼容性设置 -->
    <!--[if lt IE 6]>\xe8\x93\x9d\xe9\xb2\xb8\xe6\x99\xba\xe8\x90\xa5\x20\xe7\x89\x88\xe6\x9d\x83\xe6\x89\x80\xe6\x9c\x89<![endif]-->
  </body>
</html>
